*{
  box-sizing: border-box;
  font-family: monospace;
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.7em;
  text-indent: 20px
}

a{
  text-decoration: none;
  color: black;
}

#root{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 100%;
}





.card{
  width: 80%;
  min-width: 400px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px 10%;
}

.cardEp{
  width: 25%;
  min-width: 300px;
  /* height: 450px; */
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;

}
.cardSummary{
  margin-top: 10px;
  text-indent: 20px;
  width: 80%;
}

.cardSummaryEp{
  margin-top: 10px;
  text-indent: 20px;
  width: 100%;

}

.cardTitle{
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}
.cardTitle:hover{
  cursor: pointer;
}

.cardTitleEp{
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
}


nav{
  width: 80vw;
  height: 50px;
  background-color: brown;
  margin: 5vh 9vw;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

input{
  width: 20vw;
  height: 20px;
}

#select{
  width: 30vw;
  height: 20px;

}


.mainDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.genres,
.runtime,
.status,
.rating,
.cardImg,
.cardSummary{
  padding: 5px;
}

.cardTitle{
  font-size: 20px;
}

span {
  background-color: yellow;
}

.cardImg{
  width: 220px;
  height: 305px;

}

.cardImgEp{
  margin: 0 auto;

}


@media only screen and (max-width: 600px) {

select{
  display: none;
}

.card{
  width: 100%;
  margin: 20px 0;
}

nav{
  width: 100%;
  margin: 0;
}

input{
  width: 50vw;
}
}